.appLayout {
  width: 100%;
  height: 100%;
  display: inline-block;
  min-height: 100vh;
}

.appLayoutDark {
  width: 100%;
  height: 100%;
  display: inline-block;
  min-height: 100vh;
}

.main {
  width: 100%;
}

.hero {
  min-height: 800px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #222;
  columns: #fff;
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

.heroBgWrap {
  opacity: 0.5;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #010517;
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0, #010517),
    color-stop(100%, #030825)
  );
  background: linear-gradient(135deg, #010517, #030825);
}

.appLayoutDark .heroBg {
  background: #010517;
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0, #010517),
    color-stop(100%, #030825)
  );
  background: linear-gradient(135deg, #010517, #030825);
}

.stars {
  animation: animStar 50s linear infinite;
}

.stars,
.stars:after {
  content: ' ';
  position: absolute;
  top: 800px;
  width: 1px;
  height: 1px;
  background: 0 0;
  box-shadow: 7727px 1713px #fff, 1648px 712px #fff, 1664px 267px #fff,
    276px 1905px #fff, 2885px 1159px #fff, 3743px 1784px #fff,
    1587px 1734px #fff, 300px 2778px #fff, 1310px 782px #fff, 1178px 2737px #fff,
    705px 171px #fff, 3146px 2737px #fff, 1587px 2741px #fff, 2074px 2733px #fff,
    2109px 1431px #fff, 2904px 1856px #fff, 1240px 2286px #fff,
    2659px 717px #fff, 459px 1399px #fff, 1413px 1473px #fff, 3082px 1566px #fff,
    644px 2983px #fff, 3649px 554px #fff, 1488px 1327px #fff, 409px 2566px #fff,
    1761px 561px #fff, 819px 192px #fff, 3152px 475px #fff, 2368px 2630px #fff,
    1533px 427px #fff, 2571px 532px #fff, 2975px 159px #fff, 3008px 2948px #fff,
    3162px 280px #fff, 850px 1352px #fff, 2793px 861px #fff, 1100px 2767px #fff,
    796px 2145px #fff, 515px 1819px #fff, 2587px 714px #fff, 43px 2383px #fff,
    249px 1896px #fff, 2932px 2965px #fff, 345px 709px #fff, 3772px 1017px #fff,
    1550px 2327px #fff, 1235px 396px #fff, 3838px 1515px #fff, 1664px 908px #fff,
    1783px 844px #fff, 2519px 2878px #fff, 1419px 2554px #fff,
    3059px 2797px #fff, 998px 2156px #fff, 2544px 2281px #fff, 968px 2582px #fff,
    149px 2084px #fff, 3274px 800px #fff, 2559px 325px #fff, 1274px 363px #fff,
    3244px 2148px #fff, 3137px 1441px #fff, 1113px 1274px #fff,
    448px 2310px #fff, 441px 2927px #fff, 579px 314px #fff, 316px 603px #fff,
    803px 195px #fff, 3453px 750px #fff, 625px 349px #fff, 7px 1550px #fff,
    1949px 1523px #fff, 689px 31px #fff, 3171px 1111px #fff, 51px 1546px #fff,
    2670px 17px #fff, 431px 2751px #fff, 705px 7px #fff, 713px 2924px #fff,
    1792px 2126px #fff, 383px 820px #fff, 3346px 569px #fff, 204px 2256px #fff,
    33px 219px #fff, 1647px 1419px #fff, 3055px 679px #fff, 1063px 1206px #fff,
    1308px 2041px #fff, 704px 2757px #fff, 2593px 1895px #fff,
    1690px 1422px #fff, 2569px 2364px #fff, 867px 1123px #fff,
    2093px 2518px #fff, 2508px 370px #fff, 1966px 62px #fff, 2499px 770px #fff,
    3931px 507px #fff, 1776px 85px #fff, 868px 2757px #fff, 3570px 297px #fff,
    290px 305px #fff, 390px 2907px #fff, 108px 2983px #fff, 736px 1590px #fff,
    2560px 2632px #fff, 2158px 902px #fff, 1895px 223px #fff, 3058px 2950px #fff,
    3943px 1276px #fff, 529px 1587px #fff, 3422px 2803px #fff,
    3687px 2239px #fff, 1181px 1392px #fff, 915px 2130px #fff,
    2746px 1148px #fff, 3373px 1641px #fff, 533px 2803px #fff,
    1279px 1224px #fff, 3986px 674px #fff, 2808px 428px #fff, 3869px 2915px #fff,
    3292px 2428px #fff, 2449px 177px #fff, 730px 463px #fff, 2099px 2310px #fff,
    2413px 230px #fff, 1535px 1844px #fff, 3116px 1835px #fff,
    2004px 2861px #fff, 3493px 1668px #fff, 3533px 584px #fff, 364px 2026px #fff,
    459px 318px #fff, 2249px 112px #fff, 3485px 1916px #fff, 1214px 2255px #fff,
    1529px 2412px #fff, 2016px 1049px #fff, 741px 994px #fff, 36px 359px #fff,
    3043px 505px #fff, 1701px 1392px #fff, 1616px 6px #fff, 2178px 2635px #fff,
    252px 374px #fff, 2649px 1367px #fff, 921px 1442px #fff, 469px 1001px #fff,
    1295px 188px #fff, 1084px 953px #fff, 746px 2245px #fff, 2242px 1295px #fff,
    3881px 282px #fff, 2827px 1349px #fff, 2909px 534px #fff, 37px 893px #fff,
    1016px 959px #fff, 3638px 2290px #fff, 498px 963px #fff, 1833px 110px #fff,
    3312px 2032px #fff, 130px 133px #fff, 286px 940px #fff, 1227px 2149px #fff,
    1799px 2686px #fff, 1150px 2113px #fff, 1431px 1997px #fff,
    696px 1078px #fff, 3967px 754px #fff, 576px 706px #fff, 805px 1332px #fff,
    625px 2747px #fff, 3128px 2190px #fff, 468px 725px #fff, 3743px 2519px #fff,
    817px 204px #fff, 2063px 2295px #fff, 677px 1155px #fff, 2361px 1536px #fff,
    1740px 2944px #fff, 1892px 598px #fff, 355px 2489px #fff, 2111px 768px #fff,
    3263px 2465px #fff, 3254px 1944px #fff, 3903px 335px #fff,
    1894px 2573px #fff, 1618px 2027px #fff, 2768px 1151px #fff,
    2700px 722px #fff, 3717px 1444px #fff, 654px 1248px #fff, 522px 1274px #fff,
    1613px 1590px #fff, 2297px 742px #fff, 1009px 2560px #fff,
    1959px 1221px #fff, 3845px 2681px #fff, 3847px 2115px #fff,
    1026px 1666px #fff, 139px 2017px #fff, 2107px 610px #fff, 3912px 508px #fff,
    3413px 238px #fff, 748px 1999px #fff, 1254px 2217px #fff, 546px 725px #fff,
    389px 1883px #fff, 3431px 385px #fff, 2674px 1864px #fff, 1403px 525px #fff,
    3967px 1566px #fff, 1069px 2688px #fff, 94px 1488px #fff, 126px 2584px #fff,
    3257px 1523px #fff, 3453px 1444px #fff, 3204px 338px #fff,
    3107px 1301px #fff, 1593px 108px #fff, 1014px 1859px #fff, 1080px 988px #fff,
    1400px 2602px #fff, 3619px 2301px #fff, 2979px 2850px #fff,
    3481px 374px #fff, 3263px 2186px #fff, 2091px 939px #fff, 491px 2005px #fff,
    1634px 1964px #fff, 451px 1495px #fff, 2587px 358px #fff, 1295px 1359px #fff,
    235px 1349px #fff, 2681px 1078px #fff, 242px 479px #fff, 2078px 2429px #fff,
    3228px 411px #fff, 117px 596px #fff, 1524px 2078px #fff, 3178px 784px #fff,
    1632px 1366px #fff, 2501px 1821px #fff, 2448px 2298px #fff,
    1202px 657px #fff, 2398px 2777px #fff, 1082px 2164px #fff,
    3991px 2732px #fff, 3823px 872px #fff, 3752px 2464px #fff,
    1721px 2051px #fff, 3145px 1647px #fff, 1798px 1019px #fff,
    245px 2492px #fff, 1732px 2726px #fff, 494px 1640px #fff, 441px 2311px #fff,
    517px 1177px #fff, 435px 2481px #fff, 253px 2956px #fff, 2319px 2708px #fff,
    899px 1003px #fff, 3440px 1945px #fff, 2138px 120px #fff, 1750px 715px #fff,
    3659px 1603px #fff, 2524px 2057px #fff, 105px 2017px #fff,
    3387px 2979px #fff, 3468px 867px #fff, 1135px 197px #fff, 1500px 23px #fff,
    3631px 2169px #fff, 137px 444px #fff, 1807px 330px #fff, 910px 2948px #fff,
    1122px 1159px #fff, 1105px 1600px #fff, 322px 2018px #fff,
    2907px 1467px #fff, 2639px 2069px #fff, 3611px 1980px #fff,
    2172px 617px #fff, 3876px 863px #fff, 1677px 671px #fff, 3594px 297px #fff,
    369px 1574px #fff, 244px 2612px #fff, 3884px 1538px #fff, 2462px 93px #fff,
    3727px 2128px #fff, 1257px 2418px #fff, 755px 2908px #fff, 2055px 761px #fff,
    2317px 2125px #fff, 2909px 2414px #fff, 2571px 1069px #fff,
    2031px 224px #fff, 1491px 1392px #fff, 930px 944px #fff, 1628px 1784px #fff,
    2418px 235px #fff, 2053px 1590px #fff, 3670px 2040px #fff,
    3385px 2092px #fff, 873px 2888px #fff, 969px 474px #fff, 2365px 653px #fff,
    261px 2621px #fff, 1633px 1442px #fff, 647px 1841px #fff, 3381px 871px #fff,
    1938px 132px #fff, 3398px 442px #fff, 3036px 2025px #fff, 1649px 2959px #fff,
    2837px 1278px #fff, 3581px 2129px #fff, 1459px 754px #fff,
    1302px 2982px #fff, 2791px 324px #fff, 147px 1307px #fff, 235px 64px #fff,
    836px 925px #fff, 366px 2784px #fff, 3361px 2265px #fff, 3491px 1814px #fff,
    3379px 54px #fff, 3638px 2642px #fff, 3121px 1079px #fff, 570px 498px #fff,
    2361px 336px #fff, 3326px 2198px #fff, 3355px 2240px #fff, 418px 863px #fff,
    2383px 2826px #fff, 2764px 2932px #fff, 625px 1246px #fff,
    1783px 2700px #fff, 3443px 70px #fff, 3042px 1456px #fff, 1326px 710px #fff,
    1028px 1655px #fff, 2282px 1842px #fff, 1657px 2255px #fff,
    2077px 1885px #fff, 1186px 2492px #fff, 2028px 1386px #fff,
    2202px 2006px #fff, 1693px 2027px #fff, 3302px 944px #fff,
    1451px 2638px #fff, 2365px 1257px #fff, 1203px 1618px #fff,
    1207px 2215px #fff, 581px 1410px #fff, 1283px 411px #fff, 666px 321px #fff,
    2002px 1827px #fff, 2811px 410px #fff, 2768px 1649px #fff, 2915px 248px #fff,
    3947px 208px #fff, 1177px 629px #fff, 3202px 642px #fff, 64px 1694px #fff,
    607px 1464px #fff, 3306px 1646px #fff, 903px 2707px #fff, 2459px 2533px #fff,
    3370px 242px #fff, 1496px 2851px #fff, 421px 1477px #fff, 3735px 267px #fff,
    570px 1533px #fff, 2042px 1655px #fff, 1229px 68px #fff, 1351px 752px #fff,
    3406px 1812px #fff, 1534px 2386px #fff, 659px 1853px #fff,
    2085px 2720px #fff, 2168px 2825px #fff, 3975px 1901px #fff,
    3644px 2476px #fff, 1026px 319px #fff, 3806px 2467px #fff,
    1557px 1419px #fff, 2581px 1829px #fff, 346px 1807px #fff, 2528px 813px #fff,
    3680px 732px #fff, 1486px 616px #fff, 1676px 1331px #fff, 1766px 2284px #fff,
    1512px 2225px #fff, 3156px 732px #fff, 3071px 2630px #fff, 2329px 729px #fff,
    2871px 958px #fff, 2224px 2846px #fff, 3407px 2458px #fff, 3291px 553px #fff,
    2530px 406px #fff, 1807px 1499px #fff, 814px 1664px #fff, 965px 2212px #fff,
    705px 1373px #fff, 634px 1274px #fff, 3172px 2594px #fff, 3997px 506px #fff,
    657px 2422px #fff, 1690px 899px #fff, 42px 2286px #fff, 1704px 878px #fff,
    3413px 1802px #fff, 3580px 1921px #fff, 2186px 2584px #fff,
    365px 1632px #fff, 3796px 2279px #fff, 3368px 1048px #fff, 2360px 69px #fff,
    728px 1334px #fff, 1360px 418px #fff, 1064px 2061px #fff, 1626px 930px #fff,
    2502px 1455px #fff, 823px 2858px #fff, 2268px 1569px #fff,
    2979px 1264px #fff, 2116px 2107px #fff, 895px 2921px #fff,
    2224px 1692px #fff, 2246px 772px #fff, 595px 932px #fff, 2955px 1823px #fff,
    2527px 1932px #fff, 1769px 703px #fff, 3979px 2496px #fff, 798px 1329px #fff,
    1113px 814px #fff, 3341px 805px #fff, 2080px 2948px #fff, 1558px 2185px #fff,
    3655px 1854px #fff, 1227px 1380px #fff, 311px 723px #fff, 2740px 1351px #fff,
    2673px 936px #fff, 3823px 308px #fff, 3556px 937px #fff, 1354px 500px #fff,
    1404px 1123px #fff, 964px 784px #fff, 644px 529px #fff, 1510px 1099px #fff,
    933px 1924px #fff, 542px 1112px #fff, 148px 1076px #fff, 3441px 1918px #fff,
    2474px 2458px #fff, 627px 1974px #fff, 727px 1925px #fff, 401px 232px #fff,
    3236px 1357px #fff, 3681px 2196px #fff, 715px 1622px #fff, 360px 1852px #fff,
    169px 2087px #fff, 694px 490px #fff, 1713px 1920px #fff, 3050px 2474px #fff,
    757px 2894px #fff, 3710px 1387px #fff, 746px 2565px #fff, 3443px 2844px #fff,
    3445px 539px #fff, 1464px 392px #fff, 1250px 1099px #fff, 345px 2064px #fff,
    1304px 321px #fff, 1724px 426px #fff, 818px 1944px #fff, 2570px 294px #fff,
    1097px 1508px #fff, 2098px 2381px #fff, 2625px 2883px #fff,
    2281px 1951px #fff, 2124px 2507px #fff, 3803px 340px #fff,
    1455px 2965px #fff, 1464px 2300px #fff, 2055px 1976px #fff,
    2578px 2769px #fff, 3373px 1726px #fff, 3999px 1243px #fff,
    968px 1335px #fff, 1016px 1700px #fff, 2981px 2650px #fff, 3063px 545px #fff,
    2196px 1405px #fff, 2870px 242px #fff, 2304px 323px #fff, 985px 1395px #fff,
    3722px 164px #fff, 2807px 1986px #fff, 1333px 1037px #fff,
    2366px 2600px #fff, 2121px 2412px #fff, 376px 1204px #fff,
    2842px 1244px #fff, 1750px 2827px #fff, 2688px 2680px #fff, 418px 3px #fff,
    3134px 2091px #fff, 3975px 2888px #fff, 3405px 76px #fff, 25px 2977px #fff,
    3517px 2865px #fff, 2254px 1006px #fff, 637px 1661px #fff,
    1011px 2960px #fff, 3306px 1646px #fff, 2476px 1488px #fff,
    2029px 1205px #fff, 2351px 2426px #fff, 2576px 503px #fff,
    2440px 1616px #fff, 2525px 2763px #fff, 2916px 306px #fff, 1748px 448px #fff,
    1876px 2077px #fff, 976px 208px #fff, 2081px 1929px #fff, 3533px 1867px #fff,
    2660px 736px #fff, 3242px 2597px #fff, 1614px 1438px #fff, 185px 2985px #fff,
    2175px 918px #fff, 3974px 2062px #fff, 1122px 2894px #fff,
    2463px 2369px #fff, 2566px 2237px #fff, 3714px 2999px #fff,
    1407px 2143px #fff, 3867px 1368px #fff, 1800px 603px #fff, 3608px 877px #fff,
    1196px 558px #fff, 1285px 2346px #fff, 2648px 738px #fff, 2509px 2515px #fff,
    823px 1004px #fff, 3264px 868px #fff, 8px 1467px #fff, 3292px 529px #fff,
    1370px 1534px #fff, 3676px 2560px #fff, 3404px 1255px #fff,
    2098px 1386px #fff, 1878px 2595px #fff, 950px 1503px #fff, 879px 1662px #fff,
    3624px 609px #fff, 893px 751px #fff, 725px 479px #fff, 527px 361px #fff,
    822px 2260px #fff, 1291px 680px #fff, 2630px 431px #fff, 3566px 2591px #fff,
    2828px 2561px #fff, 106px 64px #fff, 205px 2608px #fff, 544px 1954px #fff,
    2535px 1793px #fff, 676px 1560px #fff, 3421px 1484px #fff, 2476px 582px #fff,
    3578px 1940px #fff, 252px 2481px #fff, 429px 962px #fff, 3697px 1821px #fff,
    1283px 2404px #fff, 2426px 919px #fff, 2286px 2834px #fff,
    2524px 2311px #fff, 683px 929px #fff, 1628px 1985px #fff, 3951px 338px #fff,
    3540px 2435px #fff, 489px 1695px #fff, 1022px 441px #fff, 2164px 29px #fff,
    1052px 877px #fff, 3889px 979px #fff, 2800px 890px #fff, 3114px 1762px #fff,
    3958px 204px #fff, 2905px 1761px #fff, 3390px 2627px #fff, 903px 1243px #fff,
    1719px 1305px #fff, 1233px 1117px #fff, 2127px 544px #fff,
    2906px 1905px #fff, 320px 922px #fff, 710px 279px #fff, 2656px 1025px #fff,
    3694px 2551px #fff, 2896px 1266px #fff, 3547px 2137px #fff, 504px 2px #fff,
    1741px 1516px #fff, 1656px 1711px #fff, 1758px 615px #fff, 2247px 405px #fff,
    3821px 2724px #fff, 3451px 2979px #fff, 2407px 1752px #fff,
    2548px 2680px #fff, 1393px 550px #fff, 3023px 1172px #fff,
    2875px 2132px #fff, 2375px 2800px #fff, 3892px 2624px #fff,
    3002px 347px #fff, 952px 2485px #fff, 2879px 156px #fff, 2462px 2267px #fff,
    2133px 646px #fff, 3377px 1843px #fff, 1677px 2686px #fff, 2046px 634px #fff,
    726px 988px #fff, 839px 1472px #fff, 1150px 1333px #fff, 2063px 638px #fff,
    3288px 2302px #fff, 1623px 1907px #fff, 1096px 41px #fff, 825px 199px #fff,
    795px 85px #fff, 1731px 2612px #fff, 2062px 2338px #fff, 2674px 208px #fff,
    3157px 2695px #fff, 2924px 2259px #fff, 3232px 2660px #fff,
    1769px 2339px #fff, 2508px 2322px #fff, 2749px 1472px #fff,
    466px 1385px #fff, 2446px 6px #fff, 1789px 923px #fff, 3880px 2086px #fff,
    788px 998px #fff, 358px 2091px #fff, 3337px 648px #fff, 649px 1287px #fff,
    230px 2686px #fff, 410px 1081px #fff, 1222px 305px #fff, 3718px 654px #fff,
    3900px 874px #fff, 2576px 1110px #fff, 904px 2019px #fff, 290px 1118px #fff,
    3832px 2168px #fff, 209px 847px #fff, 2264px 2823px #fff, 1596px 338px #fff,
    2349px 984px #fff, 1348px 2312px #fff, 1441px 143px #fff, 807px 2027px #fff,
    1801px 2185px #fff, 864px 1825px #fff, 2096px 2169px #fff, 1238px 836px #fff,
    3589px 147px #fff, 1921px 2707px #fff, 1708px 1458px #fff, 121px 262px #fff,
    2038px 1118px #fff, 612px 2198px #fff, 1044px 1964px #fff, 492px 2006px #fff,
    2638px 18px #fff, 1145px 1885px #fff, 2389px 700px #fff, 2124px 2366px #fff,
    1740px 1px #fff, 146px 2860px #fff, 1909px 998px #fff, 249px 1977px #fff,
    3422px 1885px #fff, 2761px 383px #fff;
}

.stars1 {
  animation: animStar 100s linear infinite;
}

.stars1,
.stars1:after {
  content: ' ';
  position: absolute;
  top: 800px;
  width: 2px;
  height: 2px;
  background: 0 0;
  box-shadow: 8198px 5818px #fff, 3624px 1522px #fff, 3891px 668px #fff,
    1219px 1703px #fff, 2279px 2357px #fff, 1027px 1469px #fff,
    1516px 1531px #fff, 3433px 2907px #fff, 2377px 799px #fff, 3518px 859px #fff,
    1790px 908px #fff, 3467px 962px #fff, 1644px 1274px #fff, 2300px 2273px #fff,
    3180px 1679px #fff, 3923px 1719px #fff, 2296px 173px #fff,
    1327px 2566px #fff, 3451px 828px #fff, 351px 384px #fff, 2567px 1749px #fff,
    3528px 2367px #fff, 1417px 1354px #fff, 2381px 1874px #fff,
    1606px 772px #fff, 1583px 2081px #fff, 1778px 2906px #fff,
    2944px 1290px #fff, 1608px 111px #fff, 2288px 846px #fff, 2290px 2220px #fff,
    1158px 2289px #fff, 3116px 1238px #fff, 442px 444px #fff, 3043px 159px #fff,
    1051px 2588px #fff, 1498px 1450px #fff, 1350px 711px #fff,
    2042px 1936px #fff, 618px 1134px #fff, 3080px 2455px #fff, 3992px 600px #fff,
    1463px 2563px #fff, 2618px 250px #fff, 2105px 804px #fff, 17px 1750px #fff,
    1783px 2138px #fff, 3482px 2622px #fff, 884px 2745px #fff, 194px 1198px #fff,
    1806px 652px #fff, 646px 1537px #fff, 2587px 2799px #fff, 3524px 2433px #fff,
    2435px 973px #fff, 1394px 794px #fff, 2666px 1038px #fff, 3742px 2183px #fff,
    2012px 2965px #fff, 2615px 2951px #fff, 3584px 1456px #fff, 517px 877px #fff,
    3490px 2144px #fff, 964px 839px #fff, 317px 962px #fff, 2564px 278px #fff,
    71px 593px #fff, 3409px 967px #fff, 3055px 2493px #fff, 3362px 544px #fff,
    1161px 254px #fff, 3723px 90px #fff, 2978px 317px #fff, 2596px 1154px #fff,
    1405px 545px #fff, 2654px 959px #fff, 2467px 117px #fff, 3167px 711px #fff,
    804px 1777px #fff, 2028px 2725px #fff, 530px 2549px #fff, 2906px 93px #fff,
    112px 1538px #fff, 135px 422px #fff, 1544px 1554px #fff, 1190px 2446px #fff,
    2041px 709px #fff, 2640px 597px #fff, 1543px 1194px #fff, 3491px 1329px #fff,
    1262px 546px #fff, 3616px 291px #fff, 347px 2311px #fff, 3431px 43px #fff,
    2007px 1017px #fff, 1458px 471px #fff, 1519px 2547px #fff, 2262px 168px #fff,
    3684px 2039px #fff, 3951px 2793px #fff, 1081px 1061px #fff,
    3749px 1299px #fff, 3904px 1905px #fff, 2616px 2125px #fff,
    580px 1639px #fff, 3104px 2906px #fff, 1395px 167px #fff, 2150px 2189px #fff,
    2873px 430px #fff, 2287px 2094px #fff, 2321px 1434px #fff, 2799px 211px #fff,
    3543px 291px #fff, 1567px 2330px #fff, 483px 2126px #fff, 301px 2212px #fff,
    2186px 2220px #fff, 1888px 1158px #fff, 960px 2696px #fff, 637px 49px #fff,
    2410px 2096px #fff, 1634px 2586px #fff, 262px 2159px #fff,
    2719px 2743px #fff, 3542px 819px #fff, 924px 1055px #fff, 3302px 67px #fff,
    1556px 2213px #fff, 1060px 1389px #fff, 2796px 86px #fff, 2957px 671px #fff,
    2179px 1174px #fff, 3418px 1243px #fff, 2166px 166px #fff, 1163px 265px #fff,
    185px 1092px #fff, 3750px 1575px #fff, 418px 1778px #fff, 1324px 1675px #fff,
    3639px 1239px #fff, 862px 1298px #fff, 2038px 595px #fff, 289px 2351px #fff,
    3529px 516px #fff, 2746px 608px #fff, 49px 1133px #fff, 3277px 1508px #fff,
    560px 2844px #fff, 3520px 2640px #fff, 3214px 2589px #fff, 2435px 425px #fff,
    3876px 652px #fff, 3068px 1300px #fff, 2584px 729px #fff, 3686px 1242px #fff,
    2696px 584px #fff, 2897px 1765px #fff, 1365px 2187px #fff, 1030px 148px #fff,
    1917px 751px #fff, 1245px 1579px #fff, 3367px 1071px #fff, 1036px 751px #fff,
    1851px 701px #fff, 1532px 1348px #fff, 2615px 2784px #fff,
    1977px 2631px #fff, 2723px 2420px #fff, 3930px 2855px #fff, 1258px 64px #fff,
    1680px 1745px #fff, 3694px 1610px #fff, 1840px 2390px #fff, 551px 185px #fff,
    2676px 2789px #fff, 3606px 1397px #fff, 582px 18px #fff, 2524px 1795px #fff,
    394px 298px #fff, 2851px 2784px #fff, 3001px 803px #fff, 384px 743px #fff,
    538px 310px #fff, 1386px 2443px #fff, 3355px 169px #fff, 187px 1253px #fff,
    1455px 2231px #fff, 574px 178px #fff, 2769px 166px #fff, 1573px 1283px #fff,
    296px 89px #fff, 3667px 1955px #fff, 203px 1213px #fff, 934px 19px #fff,
    785px 226px #fff, 1317px 817px #fff, 1823px 2824px #fff, 1633px 936px #fff,
    1224px 1113px #fff, 329px 1223px #fff;
}

.stars2 {
  animation: animStar 150s linear infinite;
}

.stars2,
.stars2:after {
  content: ' ';
  position: absolute;
  top: 800px;
  width: 3px;
  height: 3px;
  background: 0 0;
  box-shadow: 2361px 8932px #fff, 1881px 2994px #fff, 1541px 998px #fff,
    2301px 2647px #fff, 1400px 334px #fff, 819px 78px #fff, 299px 552px #fff,
    1712px 1874px #fff, 1954px 221px #fff, 452px 758px #fff, 1123px 1021px #fff,
    723px 2261px #fff, 1862px 2821px #fff, 2258px 676px #fff, 720px 1255px #fff,
    2429px 1691px #fff, 1623px 369px #fff, 1074px 746px #fff, 3126px 881px #fff,
    3641px 1725px #fff, 1512px 1766px #fff, 2477px 1613px #fff, 3963px 35px #fff,
    3666px 1078px #fff, 3775px 681px #fff, 2088px 2431px #fff,
    3224px 2022px #fff, 2031px 2380px #fff, 2531px 2017px #fff,
    1192px 1018px #fff, 3858px 2153px #fff, 414px 1061px #fff, 323px 973px #fff,
    1277px 2245px #fff, 2046px 564px #fff, 3529px 2458px #fff,
    1602px 1614px #fff, 1547px 2930px #fff, 59px 1473px #fff, 363px 1652px #fff,
    1565px 1057px #fff, 3816px 370px #fff, 2506px 1752px #fff,
    2875px 1807px #fff, 192px 2543px #fff, 1133px 425px #fff, 2661px 1671px #fff,
    733px 671px #fff, 1296px 1421px #fff, 1705px 2246px #fff, 1915px 1311px #fff,
    791px 2877px #fff, 1331px 2926px #fff, 629px 382px #fff, 3919px 2554px #fff,
    295px 2930px #fff, 184px 597px #fff, 1385px 2102px #fff, 3204px 1769px #fff,
    488px 1946px #fff, 1157px 205px #fff, 563px 1443px #fff, 3814px 2346px #fff,
    185px 741px #fff, 1029px 72px #fff, 3850px 2764px #fff, 1126px 2706px #fff,
    448px 2256px #fff, 3789px 1644px #fff, 2690px 15px #fff, 3335px 89px #fff,
    1698px 2097px #fff, 2813px 2254px #fff, 2620px 1982px #fff,
    1838px 1008px #fff, 2571px 558px #fff, 1758px 1295px #fff, 1245px 936px #fff,
    1837px 1650px #fff, 3647px 467px #fff, 74px 27px #fff, 2751px 1025px #fff,
    2402px 1652px #fff, 3076px 1917px #fff, 3108px 296px #fff,
    3703px 2953px #fff, 1743px 12px #fff, 2364px 1986px #fff, 3065px 130px #fff,
    2077px 2788px #fff, 1788px 1698px #fff, 820px 473px #fff, 2044px 2157px #fff,
    1037px 358px #fff, 3843px 18px #fff, 558px 2526px #fff, 1079px 322px #fff,
    2645px 1837px #fff, 1213px 1495px #fff, 2982px 1975px #fff;
}
@-webkit-keyframes animStar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
  }
}

@keyframes animStar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
  }
}

.heroContent {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

.heroContentTitle h1 {
  font-size: 3.1em;
  line-height: 1.4;
  font-weight: 700;
  color: #fff;
}

.heroScroll {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
  z-index: 99;
}

.heroScrollIcon {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #ddd;
  border-radius: 25px;
  opacity: 0.75;
  height: 100%;
}

.heroScrollIconMarker {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #ddd;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  to {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  to {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }
}

.wrap {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container,
.container-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container-m,
  .container-full-m {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container,
  .container-m {
    max-width: 748px;
  }
  .container-full-m {
    max-width: 100%;
  }
}

@media only screen and (min-width: 980px) {
  .container-l,
  .container-full-l {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container,
  .container-l {
    max-width: 960px;
  }
  .container-full-l {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container-xl,
  .container-full-xl {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container,
  .container-xl {
    max-width: 1180px;
  }
  .container-full-xl {
    max-width: 100%;
  }
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-grid .col {
  flex: auto;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }

  .flex-grid .col,
  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.flex-grid {
  margin: 0 0 15px 0;
}

.col {
  padding: 15px;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-wrap {
  font-size: 2.4em;
  color: #000;
  text-decoration: none;
}

.social-icon-wrap svg {
  width: 32px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.social-icon-wrap svg:first-child {
  margin-left: 0px;
}

@media (max-width: 780px) {
  .hero {
    min-height: 90vh !important;
  }

  .heroContent {
    padding-top: 80px !important;
  }

  .heroContentTitle h1 {
    font-size: 1.8em;
  }

  .homepage-subtitle span {
    font-size: 1em;
  }
}
