/** Designed by Nicholas Griffin - https://nicholasgriffin.co.uk */

/** Contents */
/** 1. Normalise css */
/** 2. Main CSS */
/** 3. Superslides */


/** 1. Normalise css */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template, /* 1 */
[hidden] {
  display: none;
}
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/** 2. Main CSS */
html, body {
    max-width: 100%;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #333333;
    color: #ffffff;
}
#Obiou-body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #666;
    background-color: #fff;
    overflow-x: hidden !important;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-style: normal;
        float: left;
            width: 100%;
}
#main-container {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}
#second-container {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99999999;
    background: #fff;
}
.background-container {
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
}
#slides {
    width: 100%;
    height: 100%;
}
#slides {
    background: -webkit-linear-gradient(rgb(125, 122, 122), #0A0A0A);
    background: -o-linear-gradient(rgb(125, 122, 122), #0A0A0A);
    background: -moz-linear-gradient(rgb(125, 122, 122), #0A0A0A);
    background: linear-gradient(rgb(125, 122, 122), #0A0A0A));
}
.slides-container div {
    opacity: 0.8;
}
ul {
    list-style-type: none;
}
.main-navigation.smaller .main-navigation .home {
    font-size: 15px;
}
.drop-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
        z-index: 99999;
    background: #fff;
}
.main-navigation {
  position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
.slides-navigation a {
    color: #fff;
    font-size: 1.7em;
    text-shadow: 2px 2px #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main-navigation .home {
    color: #fff;
    text-decoration: none;
        font-size: 2.5em;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main-navigation.scrolled .home {
    font-size: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.slides-pagination {
    display: none;
}
.navigation-item {
    display: inline-block;
    width: auto;
}
.navigation-item.menu {
    margin-left: 10px;
}
.menu-link {
    color: #fff;
}
.inner-navigation {
    position: relative;
}


.drop-menu ul { margin-bottom:0; }
.drop-menu > ul > li { margin-bottom:0; border-bottom:1px solid #ddd; padding:10px 30px; text-transform:uppercase; position:relative; }
.drop-menu > ul > li a { color:#333; cursor:pointer; }
.drop-menu a { font-size:1.2rem; text-decoration:none; letter-spacing:0.3rem;}



/** 3. Superslide */
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.main-navigation.scrolled {
    background-color: rgba(0, 0, 0, 0.33);
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 36%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 20px;
}
.slides-navigation a.next {
  right: 20px;
}
.menu-close {
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 30px;
}

.menu {     background-size: contain!important;background:url('https://nicholasgriffin.co.uk/playground/Obiou/img/icon-hamburger.svg') no-repeat; cursor:pointer;width: 100%;height: 100%;float: left;}
.menu-close {     background-size: contain!important;background:url('http://nicholasgriffin.co.uk/playground/Obiou/img/cancel.svg') no-repeat; cursor:pointer;width: 100%;height: 100%;float: left;}
.open .accordian-icon {     background-size: contain!important;background:url('http://nicholasgriffin.co.uk/playground/Obiou/img/open.svg') no-repeat; }
.close .accordian-icon {     background-size: contain!important;background:url('http://nicholasgriffin.co.uk/playground/Obiou/img/close.svg') no-repeat; }
.menu-toggle {
    display: inline-block;
    width: 19px;
    height: 12px;
    margin-left: 10px;
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.section-wrapper {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.slides-pagination a.current {
  background: #222;
}



@media screen and (max-width: 1100px) {
  .drop-menu {
    width: 100%;
  }
}
